name: Build and release

'on':
  push:
    branches:
      - maintenance/0.2.18
  pull_request:
    branches:
      - maintenance/0.2.18
jobs:
  Test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install dependencies
        run: sudo apt-get install poppler-utils
      - name: Set up Python 2.7
        uses: actions/setup-python@v2
        with:
          python-version: 2.7
      - name: Install python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel
          pip install -e .[docs,tests]
      - name: Show python dependencies
        run: |
          pip freeze
      - name: Run tests
        run: |
          ./run-tests.sh
      - name: Build package
        if: ${{ success() && github.event_name == 'push' }}
        run: |
          python setup.py sdist bdist_wheel
      - name: Publish package
        if: ${{ success() && github.event_name == 'push'  }}
        uses: pypa/gh-action-pypi-publish@v1.3.1
        with:
          user: __token__
